---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import HowTo from '../components/HowTo.astro';
import Info from '../components/Info.astro';
---

<Layout>
  <main class="relative w-full overflow-x-hidden">
    <Navbar />
    <Hero />
    <HowTo />
    <Info />
  </main>
</Layout>
