@import "tailwindcss";

@theme {
  --color-primary: #FF5A00;
  --color-secondary: #FFB800;
  --color-dark: #1F2937;
  --color-light: #F3F4F6;
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
}
